---
# This overrides the _layouts/page.html of the theme minima
layout: default
---

<article class="post">
  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>

  <div class="post-content">
    {{ content }} {% if page.if_print_post_list == nil or
    page.if_print_post_list == true %} {% comment %} This filters out the posts
    within the given category associated with the page. {% endcomment %} {% if
    site.paginate %} {% assign posts = paginator.posts | where:"categories",
    page.page_category %} {% else %} {% assign posts = site.posts |
    where_exp:"post", "post.categories contains page.page_category" %}
    <!-- cannot omit the 'page.' in 'page.page_category'-->
    {% comment %} Alternatively, one can write {% assign posts = site.posts |
    where:"categories", page.page_category %} or write {% assign posts =
    site.tags["NdC0"] %} {% endcomment %} {% endif %} {% endif %} {% include
    print_posts.html content=posts %}
    <!--This part is personalised for each page.-->
  </div>
</article>
